[PFDijetRun2_4J_alphabin5]
variables = ['mjj[1607.,1607.,10072]','th1x[0,0,47]','pdf_index[dijet=0,atlas=1,moddijet=2]']



histoName = 'h_FourjetMass'




variables_range = ['mjj_Low[1607.,10072.]', 'mjj_Blind[1607.,10072.]', 'mjj_High[1607.,10072.]']

combine_parameters = ['Ntot_PFDijetRun2_4J_alphabin5_bkgdijet[37794.000]',
		      'Ntot_PFDijetRun2_4J_alphabin5_bkgatlas[37794.000]',
                      'Ntot_PFDijetRun2_4J_alphabin5_bkgmoddijet[37794.000]',		  
		      'Ntot_multi_PFDijetRun2_4J_alphabin5[37794.000]',
		      'p0_PFDijetRun2_4J_alphabin5[1]',
		      'p1_PFDijetRun2_4J_alphabin5[10.2]', 
		      'p2_PFDijetRun2_4J_alphabin5[1.2]',
		      'p3_PFDijetRun2_4J_alphabin5[0]',   
		      'p4_PFDijetRun2_4J_alphabin5[0.]',
		      'pa1_PFDijetRun2_4J_alphabin5[10.2]', 
		      'pa2_PFDijetRun2_4J_alphabin5[1.2]',
		      'pa3_PFDijetRun2_4J_alphabin5[0]',
		      'pa4_PFDijetRun2_4J_alphabin5[0]',
		      'pmd1_PFDijetRun2_4J_alphabin5[10.2]', 
		      'pmd2_PFDijetRun2_4J_alphabin5[1.2]',
		      'pmd3_PFDijetRun2_4J_alphabin5[0]',
		      'pmd4_PFDijetRun2_4J_alphabin5[0]',		  
                      'sqrts[13000]',
		      'sqrtsa[13000]',
		      'sqrtsmd[13000]',			  
	      	      'PFDijetRun2_4J_alphabin5_bkgdijet_norm[1]',
		      'PFDijetRun2_4J_alphabin5_bkgatlas_norm[1]',
                      'PFDijetRun2_4J_alphabin5_bkgmoddijet_norm[1]',				  
		      'PFDijetRun2_4J_alphabin5_multi_norm[1]',
	      	      'meff_PFDijetRun2_4J_alphabin5[-1]',
		      'seff_PFDijetRun2_4J_alphabin5[-1]']		     
		      
combine_pdfs = [	
		         'RooDijet5ParamBinPdf::PFDijetRun2_4J_alphabin5_bkgdijet(th1x,p1_PFDijetRun2_4J_alphabin5,p2_PFDijetRun2_4J_alphabin5,p3_PFDijetRun2_4J_alphabin5,p4_PFDijetRun2_4J_alphabin5,sqrts)',
				 "EXPR::PFDijetRun2_4J_alphabin5_bkgdijet_unbin('p0_PFDijetRun2_4J_alphabin5*(pow(1-mjj/sqrts,p1_PFDijetRun2_4J_alphabin5)/pow(mjj/sqrts,p2_PFDijetRun2_4J_alphabin5+p3_PFDijetRun2_4J_alphabin5*log(mjj/sqrts)+p4_PFDijetRun2_4J_alphabin5*log(mjj/sqrts)*log(mjj/sqrts)))',mjj,p0_PFDijetRun2_4J_alphabin5,p1_PFDijetRun2_4J_alphabin5,p2_PFDijetRun2_4J_alphabin5,p3_PFDijetRun2_4J_alphabin5,p4_PFDijetRun2_4J_alphabin5,sqrts)",
                 'RooAtlas5ParamBinPdf::PFDijetRun2_4J_alphabin5_bkgatlas(th1x,pa1_PFDijetRun2_4J_alphabin5,pa2_PFDijetRun2_4J_alphabin5,pa3_PFDijetRun2_4J_alphabin5,pa4_PFDijetRun2_4J_alphabin5,sqrtsa)',
				 "EXPR::PFDijetRun2_4J_alphabin5_bkgatlas_unbin('p0_PFDijetRun2_4J_alphabin5/(pow(mjj/sqrtsa,pa1_PFDijetRun2_4J_alphabin5))*exp(-((pa2_PFDijetRun2_4J_alphabin5*(mjj/sqrtsa))+(pa3_PFDijetRun2_4J_alphabin5*pow(mjj/sqrtsa,2))+(pa4_PFDijetRun2_4J_alphabin5*pow(mjj/sqrtsa,3))))',mjj,p0_PFDijetRun2_4J_alphabin5,pa1_PFDijetRun2_4J_alphabin5,pa2_PFDijetRun2_4J_alphabin5,pa3_PFDijetRun2_4J_alphabin5,pa4_PFDijetRun2_4J_alphabin5,sqrtsa)",
                 'RooModDijet5ParamBinPdf::PFDijetRun2_4J_alphabin5_bkgmoddijet(th1x,pmd1_PFDijetRun2_4J_alphabin5,pmd2_PFDijetRun2_4J_alphabin5,pmd3_PFDijetRun2_4J_alphabin5,pmd4_PFDijetRun2_4J_alphabin5,sqrtsmd)',	
		         "EXPR::PFDijetRun2_4J_alphabin5_bkgmoddijet_unbin('p0_PFDijetRun2_4J_alphabin5*pow(1-pow(mjj/sqrtsmd,1.0/3.0),pmd1_PFDijetRun2_4J_alphabin5)/pow(mjj/sqrtsmd,pmd2_PFDijetRun2_4J_alphabin5+pmd3_PFDijetRun2_4J_alphabin5*log(mjj/sqrtsmd)+pmd4_PFDijetRun2_4J_alphabin5*log(mjj/sqrtsmd)*log(mjj/sqrtsmd))',mjj,p0_PFDijetRun2_4J_alphabin5,pmd1_PFDijetRun2_4J_alphabin5,pmd2_PFDijetRun2_4J_alphabin5,pmd3_PFDijetRun2_4J_alphabin5,pmd4_PFDijetRun2_4J_alphabin5,sqrtsmd)",
                 		         
				 'RooMultiPdf::PFDijetRun2_4J_alphabin5_multi(pdf_index,PFDijetRun2_4J_alphabin5_bkgdijet,PFDijetRun2_4J_alphabin5_bkgatlas,PFDijetRun2_4J_alphabin5_bkgmoddijet)',
		         'SUM::extDijetPdf(Ntot_multi_PFDijetRun2_4J_alphabin5*PFDijetRun2_4J_alphabin5_multi)']







signal_mjj = [1607, 1687,1770, 1856, 1945, 2037,  2132, 2231, 2332, 2438, 2546, 2659, 2775, 2895, 3019, 3147, 3279, 3416, 3558, 3704, 3854, 4010, 4171, 4337, 4509, 4686, 4869, 5058,5253, 5455, 5663, 5877, 6099, 6328, 6564, 6808, 7060, 7320, 7589, 7866, 8152, 8447, 8752, 9067, 9391, 9726, 10072]



signal_th1x = range(0,47+1)













