[PFDijetRun3_4J]

variables = ['mjj[1607.,1607.,9067]','th1x[0,0,44]','pdf_index[dijet=0,atlas=1,moddijet=2]']

histoName = 'h_FourjetMass_1GeV_mc'

variables_range = ['mjj_Low[1607.,9067.]', 'mjj_Blind[1607.,9067.]', 'mjj_High[1607.,9067.]']

combine_parameters = ['Ntot_PFDijetRun3_4J_bkgdijet[49105.215]',
		      'Ntot_PFDijetRun3_4J_bkgatlas[49105.215]',
                      'Ntot_PFDijetRun3_4J_bkgmoddijet[49105.215]',		  
		      'Ntot_multi_PFDijetRun3_4J[49105.215]',
		      'p0_PFDijetRun3_4J[1]',
		      'p1_PFDijetRun3_4J[6.405]', 
		      'p2_PFDijetRun3_4J[5.708]',
		      'p3_PFDijetRun3_4J[0]',   
		      'p4_PFDijetRun3_4J[0]',
		      'pa1_PFDijetRun3_4J[6.405]', 
		      'pa2_PFDijetRun3_4J[5.708]',
		      'pa3_PFDijetRun3_4J[0]',
		      'pa4_PFDijetRun3_4J[0]',
		      'pmd1_PFDijetRun3_4J[6.405]', 
		      'pmd2_PFDijetRun3_4J[5.708]',
		      'pmd3_PFDijetRun3_4J[0]',
		      'pmd4_PFDijetRun3_4J[0]',		  
                      'sqrts[13600]',
		      'sqrtsa[13600]',
		      'sqrtsmd[13600]',			  
	      	      'PFDijetRun3_4J_bkgdijet_norm[1]',
		      'PFDijetRun3_4J_bkgatlas_norm[1]',
                      'PFDijetRun3_4J_bkgmoddijet_norm[1]',				  
		      'PFDijetRun3_4J_multi_norm[1]',
	      	      'meff_PFDijetRun3_4J[-1]',
		      'seff_PFDijetRun3_4J[-1]']		     
		      
combine_pdfs = [ 'RooDijet5ParamBinPdf::PFDijetRun3_4J_bkgdijet(th1x,p1_PFDijetRun3_4J,p2_PFDijetRun3_4J,p3_PFDijetRun3_4J,p4_PFDijetRun3_4J,sqrts)',
				 "EXPR::PFDijetRun3_4J_bkgdijet_unbin('p0_PFDijetRun3_4J*(pow(1-mjj/sqrts,p1_PFDijetRun3_4J)/pow(mjj/sqrts,p2_PFDijetRun3_4J+p3_PFDijetRun3_4J*log(mjj/sqrts)+p4_PFDijetRun3_4J*log(mjj/sqrts)*log(mjj/sqrts)))',mjj,p0_PFDijetRun3_4J,p1_PFDijetRun3_4J,p2_PFDijetRun3_4J,p3_PFDijetRun3_4J,p4_PFDijetRun3_4J,sqrts)",
                 'RooAtlas5ParamBinPdf::PFDijetRun3_4J_bkgatlas(th1x,pa1_PFDijetRun3_4J,pa2_PFDijetRun3_4J,pa3_PFDijetRun3_4J,pa4_PFDijetRun3_4J,sqrtsa)',
				 "EXPR::PFDijetRun3_4J_bkgatlas_unbin('p0_PFDijetRun3_4J/(pow(mjj/sqrtsa,pa1_PFDijetRun3_4J))*exp(-((pa2_PFDijetRun3_4J*(mjj/sqrtsa))+(pa3_PFDijetRun3_4J*pow(mjj/sqrtsa,2))+(pa4_PFDijetRun3_4J*pow(mjj/sqrtsa,3))))',mjj,p0_PFDijetRun3_4J,pa1_PFDijetRun3_4J,pa2_PFDijetRun3_4J,pa3_PFDijetRun3_4J,pa4_PFDijetRun3_4J,sqrtsa)",
                 'RooModDijet5ParamBinPdf::PFDijetRun3_4J_bkgmoddijet(th1x,pmd1_PFDijetRun3_4J,pmd2_PFDijetRun3_4J,pmd3_PFDijetRun3_4J,pmd4_PFDijetRun3_4J,sqrtsmd)',	
		         "EXPR::PFDijetRun3_4J_bkgmoddijet_unbin('p0_PFDijetRun3_4J*pow(1-pow(mjj/sqrtsmd,1.0/3.0),pmd1_PFDijetRun3_4J)/pow(mjj/sqrtsmd,pmd2_PFDijetRun3_4J+pmd3_PFDijetRun3_4J*log(mjj/sqrtsmd)+pmd4_PFDijetRun3_4J*log(mjj/sqrtsmd)*log(mjj/sqrtsmd))',mjj,p0_PFDijetRun3_4J,pmd1_PFDijetRun3_4J,pmd2_PFDijetRun3_4J,pmd3_PFDijetRun3_4J,pmd4_PFDijetRun3_4J,sqrtsmd)",
                 		         
				 'RooMultiPdf::PFDijetRun3_4J_multi(pdf_index,PFDijetRun3_4J_bkgdijet,PFDijetRun3_4J_bkgatlas,PFDijetRun3_4J_bkgmoddijet)',
		         'SUM::extDijetPdf(Ntot_multi_PFDijetRun3_4J*PFDijetRun3_4J_multi)']


signal_mjj = [1607, 1687, 1770, 1856, 1945, 2037,  2132, 2231, 2332, 2438, 2546, 2659, 2775, 2895, 3019, 3147, 3279, 3416, 3558, 3704, 3854, 4010, 4171, 4337, 4509, 4686, 4869, 5058, 5253, 5455, 5663, 5877, 6099, 6328, 6564, 6808, 7060, 7320, 7589, 7866, 8152, 8447, 8752, 9067]



signal_th1x = range(0,44+1)
